@import '../../../../scss/variables.scss';

.card-shop__container {
  display: flex;
  padding: 0;
  border-bottom: 1px solid $white-smoke;
  margin-bottom: 20px;
  flex-direction: column;
  height: 100%;


  h2 {
    font-size: $general;
    font-size: 24px;
    color: $primary;
    margin-bottom: 15px;
    cursor: pointer;
  }

  .card-shop__content {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }

  .card-shop__box--image {
    flex: 1 1 100%;
    cursor: pointer;

  }

  .card-shop__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card-shop__box--text {
    padding: 10px 10px 20px 20px;
    display: flex;
    flex: 1 1 calc(100% - 294px);
    flex-direction: column;
    justify-content: space-between;


    .card-shop__qualification {
      font-size: 12px;
      color: $text_gray;
      font-family: $outstanding;
      font-weight: 300;
      margin-bottom: 0;
    }

    .card-shop__phone,
    .card-shop__address {
      font-size: 14px;
      color: $text_gray;
      font-family: $outstanding;
      font-weight: 300;
      margin-bottom: 15px;
    }

    .card-shop__address {
      margin-bottom: 0;
    }


    .card-shop__start {

      position: relative;
      margin-top: 0px;
      margin-bottom: 15px;
      display: flex;

      svg {
        display: inline-block;

      }
    }

    .card-shop__box--links {
      margin-bottom: 15px;

      a {
        margin-right: 10px;
        width: 25px;
        height: 25px;
        cursor: pointer;

        svg {
          fill: $text_gray
        }

      }
    }

    .card-shop__category {
      padding: 6px 8px;
      font-size: 10px;
      margin-right: 10px;
      font-weight: 400;
      line-height: 1;
      border-radius: 30px;
      color: $white;
      background-color: $primary;
      display: inline-flex;
    }

  }

  @include desktop {
    padding: 20px 20px 0;

    .card-shop__content {
      display: flex;
      flex-direction: row;
      padding-bottom: 20px;
    }

    .card-shop__box--image {
      flex: 1 1 294px;
      cursor: pointer;

    }
  }
}