@import '../../scss/variables.scss';

.modal-subscriber__content {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 340px;
  min-width: 110px;
  max-width: 300px;
  height: 450px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  margin: 20px 0;
  text-align: center;

  .modal-subscriber__arrow {
    color: '#fff';
    float: 'right';
    position: absolute;
    top: 0;
    right: 0;

    svg {
      color: $white;

    }
  }

  .modal-subscriber__title {
    font-size: 40px;
    text-align: center;
    color: $white;
  }

  .modal-subscriber__box--btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-subscriber__text {
    color: $white;
    text-align: center;
    font-weight: 500;
  }

  .form-contact__container {
    width: 100%;
    margin-top: 125px;
  }

  .modal-subscriber__btn {
    display: flex;
    position: relative;
    width: auto;
    min-width: 100%;
    height: 36px;
    justify-content: center;
    align-items: center;
    border: 2px solid $primary;
    border-radius: 20px;
    padding: 0 4px;
    cursor: pointer;
    margin: 20px 0 0;

    span {
      color: $primary;
      font-size: 15px;
      font-weight: 500;
      line-height: 16px;
      margin-left: 5px;
    }
  }

  .modal-subscriber__message {
    font-size: 12px;
    color: $primary;
    font-weight: 300;

    &.error {
      color: $error;
    }
  }
}